<h2>List of Reddits</h2>

{{#each model as |redditPost|}}
  <div class="reddit">
    <h4><a href={{redditPost.url}}>{{redditPost.title}}</a></h4>
    <h6>Score: {{redditPost.score}}</h6>
    <p>Comments Count: {{redditPost.num_comments}}</p>
    <p>Archived? {{redditPost.archived}}</p>
  </div>
{{else}}
  <p>Nothing found.</p>
{{/each}}

{{outlet}}
